@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.app {
    width: 1025px;
    height: 100%;
}

.jogo {
    display: flex;
}

.forca img {
    width: 400px;
    height: 467px;
    margin-top: 59px;
    margin-left: 38px;
}

.botaoIniciar {
    cursor:pointer;
    background: #27AE60;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 89px;
    right: 53px;
}

.palavra {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    position: absolute;
    top: 431px;
    right: 61px;
    letter-spacing: 10px;
}

.perdeuVermelho{
    color: red;
}

.ganhouVerde{
    color: #27AE60;
}

.letras {
    width: 700px;
    height: 91px;
    position: absolute;
    left: 211px;
    top: 596px;
    display: flex;
    flex-wrap: wrap;
}

.letra {
    cursor:pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #39739D;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    margin-right: 12px;
    margin-bottom: 12px;

}

.ldesabilitado {
    color: #798A9F;
    background-color: #9FAAB5;
}

.chute {
    width: 624px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 231px;
    margin-top: 217px;
    justify-content: space-between;
    margin-bottom: 56px;
}

.chute h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
}

.chute input {
    width: 353px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.botaoChute {
    cursor:pointer;
    width: 100px;
    height: 40px;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3C76A1;
}